<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Synamen_Contact::synamen_contacts" title="synamen_contacts" sortOrder="10">
					<resource id="Synamen_Contact::synamen_contacts_save" title="Save synamen_contacts" sortOrder="10"/>
					<resource id="Synamen_Contact::synamen_contacts_delete" title="Delete synamen_contacts" sortOrder="20"/>
					<resource id="Synamen_Contact::synamen_contacts_update" title="Update synamen_contacts" sortOrder="30"/>
					<resource id="Synamen_Contact::synamen_contacts_view" title="View synamen_contacts" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
